body{
  margin: 0;
  text-align:center;
  color:#40514E;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 400%;
  color:#66BFBF;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    padding-bottom: 10px;
      }
  h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }
  p{
      line-height: 2;
  }
  hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto 20px auto;
  }
  a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    }
  a:hover{
    color: #EAF6F6;
  }
  .top_container{
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
  }
.middle{
  margin: 20px 0;
  }
.bottom{
  background-color: #66BFBF;
  margin-top: 20px;
  padding: 50px 0 20px;
  }
.pro{
  text-decoration:underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.contactme{
  width: 40%;
  margin: 20px auto 30px auto;
}
.copy-write{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right:300px;
  top:30px;
}
.Personal{
  margin-top: 10px;
  padding: 10px;
  width: 15%;
  height: 15%;
}

.skill{
  height: 10%;
  width: 10%;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.coding{
  width: 20%;
  float: left;
  margin-right: 20px;
}
.dumbell{
  width: 20%;
  float: right;
  margin-right: 10px;
}
.footer-link{
  position: relative;
  top: 10px;
  margin:10px 20px;
  color: #11999E;

  }
.butn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
